@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  font-family: 'Fredoka One', cursive;
  color: #fff;
  height: 100%;
  margin: 0;
}

.container{
  margin: auto;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  padding: 0 20px;
  background-color: darkgreen;
}

#header h2{font-size: 1rem;}

.user_input{
  margin-top: 2px;
  width: 350px;
  text-align: center;
}

.user_input input{
  width: 75%;
  outline: none;
  padding: 8px;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.user_input input:focus{
  box-shadow: green;
  border: 1px solid green;
}

.user_input button{
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  color: black;
  transition: 1s;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-input button:hover{
  background-color: transparent;
  color: white;
}

#show{

    opacity: 0;
  }

.btn{
    background-color: darkgreen;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1rem;
    width: 34%;

}

.btn:hover{
    background-color: white;
    color: darkgreen;
    border-bottom: 3px solid darkgreen;
    
}

#btn1{
    display: flex;
    justify-content: space-between;
    min-height: 50px;  
  
}

.icon{
    text-decoration: none;
    color:white;
}

#list{
  background-color: aquamarine;
}