 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Fredoka One', cursive;
  }

  .container{
    margin: auto;
  }

  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 20px;
    background-color: darkgreen;
    color: white;
  }

  #header h2
  {
      font-size: 2rem;
  }

  #login-box {
    margin:auto;
    color:darkgreen;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:400px;
     margin-top: 100px;
   border-radius: 5px;
   border: 1px solid darkgreen;
    
    
  }

  button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    color: black;
    transition: 1s;
    outline: none;
    background-color: darkgreen;
    border: 1px solid darkgreen;
  }

  button:hover{
    color: white;
  }
  input{
      border-radius: 5px;
      height: 20px;
      width: 300px;
      text-align: center;
      outline: none;
  }

 
